
{% extends 'base.html.twig'  %}


{% block body %}
    <div class="container">
        <h3> Voici les futures concerts Disponibles</h3>
        <div class="card" style="width: 70rem;">
            <div class="container">
                <div class="card-body">
                    <p>
                    {% for show in futureshows %}
                    <H3>
                     <div class="card-text"><a href="{{ path('concert_show', {id: show.id}) }}"> Le {{ show.date|date('d-m-Y') }} concert de {{ show.band.name }} </a>
                     </div>
                        {% endfor %}
                    </H3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}