<html>
    <footer id="footer">
    <div class="container" style=" position: absolute;  bottom: 0;  width: 100%; ">

        <div class="text">
            {% block body %}
            <h3> Adresse Salle de concert: 99 Avenue d'Occitanie, 34090 Montpellier</h3>
            {% endblock %}
        </div>
    </div>
    </footer>
</html>